*{margin: 0px; padding: 0px;box-sizing: border-box; font-style: normal;}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(b.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    margin-top: 5%;
}

.tophead{
    color:white;
    height: 7%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}


.form{
   border:midnightblue; 
   background: rgb(255, 255, 255);
   border-radius: 10px;
   margin-top: 40px;
   padding: 20px 20px 20px 20px; 
}

label{
    font-weight: bolder;
}

.button{
    background: rgb(139, 139, 238);
}

.button a{
    text-decoration:none;
    color:rgb(250, 248, 248);
}

.button:hover{
    background: yellow;
}

.button a:hover{
    color:black;
}